<div class="container">
  <mat-card>
    <mat-card-header>
      <mat-card-title i18n>Operations</mat-card-title>
    </mat-card-header>
    <hr />
    <mat-card-content>
      <div *ngIf="errorStatus">
        <div i18n>Something is Wrong!</div>
      </div>
      <div *ngIf="!errorStatus">
        <ul class="operations-list">
          <li *ngFor="let item of result" class="mt-3">
            {{ item.value }}
            {{
              item.action === "add"
                ? " + " + addData.value + " = "
                : " * " + multiplyData.value + " = "
            }}
            <span [class.show]="'operation-result'">
              {{ item.result }}
            </span>
          </li>
        </ul>
      </div>
    </mat-card-content>
  </mat-card>
</div>
